* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--width-sidebar) auto;
    overflow: hidden;
    background-color: var(--color-surface);

    @media only screen and (max-width: 600px) {
        grid-template-areas: "main";
        grid-template-columns: auto;

        &:has(input.sidebar:checked) sidebar {
            display: initial;
        }
    }
}

sidebar {
    margin-bottom: 16px;
    grid-area: sidebar;
    border-bottom-right-radius: 16px;
    background-color: var(--color-background);

    ul {
        padding: 8px;

        li {
            width: 100%;
            display: flex;

            a {
                width: 100%;
                padding: 8px 12px;
                border-radius: 8px;
                color: var(--color-foreground);
                text-decoration: none;

                &:hover {
                    background-color: var(--color-accent);
                    color: var(--color-accent-contrast);
                    text-decoration: underline;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        min-width: 80vw;
        height: 100%;
        padding-top: 48px;
        position: absolute;
        display: none;
        grid-area: unset;

        ul li a {
            padding: 16px 12px;
        }
    }
}

div#main {
    grid-area: main;
    display: grid;
    grid-template-rows: var(--height-header) auto;
    overflow: hidden;
    background-color: var(--color-background);

    header {
        padding: 0 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        input.sidebar {
            display: none;
        }

        @media only screen and (max-width: 600px) {
            input.sidebar {
                width: 24px;
                height: 24px;
                z-index: 100;
                display: initial;
            }
        }
    }

    main {
        overflow-y: scroll;
        border-top-left-radius: 16px;
        background-color: var(--color-surface);

        &:has(div.banner) ul.device-list {
            padding-top: 0;
        }

        @media only screen and (max-width: 600px) {
            border-top-right-radius: 16px;
        }
    }
}

div.banner {
    margin: 16px;
    padding: 12px 16px;
    border-radius: 12px;
    font-weight: 700;

    &.alert {
        background-color: var(--color-alert);
        color: var(--color-alert-contrast);
    }
}

ul.device-list {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    li.device {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        background-color: var(--color-surface-2);
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: var(--color-accent);

            a {
                color: var(--color-accent-contrast);
                text-decoration: underline;
            }
        }

        a {
            width: 100%;
            padding: 16px;
            display: inline-block;
            color: var(--color-foreground);
            text-decoration: none;
        }

        button {
            margin: 8px;
            padding: 0 16px;
            background-color: var(--color-background);
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-surface);
            }
        }
    }
}
