doctype html

html

    head

        include ../../components/head.pug

        link(href="/public/css/dashboard.css" rel="stylesheet")

        title Actions | Home Control

    body

        include ../../components/dashboard/sidebar.pug

        main

            h1 Actions

            if !actions || actions.length < 1

                p No actions :(

            else

                section.actions

                    each action in actions

                        include ../../components/dashboard/action.pug

