doctype html

html

    head

        include ../../components/head.pug

        link(href="/public/css/dashboard.css" rel="stylesheet")

        title Devices | Home Control

    body

        main

            section.heading

                h1 Devices

                input(type="checkbox")

            if !devices || devices.length < 1
            
                p No devices :(

            else

                section.devices

                    each device in devices

                        include ../../components/dashboard/device.pug

        include ../../components/dashboard/sidebar.pug
