doctype html

html

    head

        include ../../components/head.pug

        link(href="/public/css/dashboard.css" rel="stylesheet")

        title Dashboard | Home Control

    body

        main

            section.heading

                h1 Home Control

                input(type="checkbox")

        include ../../components/dashboard/sidebar.pug
