doctype html

html

    head

        include ../../components/head.pug

        title Dashboard | Home Control

    body

        include ../../components/dashboard/sidebar.pug

        main

            h1 Home Control
