doctype html

html

    head

        include ../../components/head.pug

        link(href="/public/css/dashboard.css" rel="stylesheet")

        title Dashboard | Home Control

    body

        include ../../components/dashboard/sidebar.pug

        main

            h1 Home Control
