sidebar
    ul
        li
            a(href="/dashboard") Home
        li
            a(href="/dashboard/devices") Devices
        li
            a(href="/dashboard/actions") Actions
        li
            a(href="/dashboard/settings") Settings
        li
            a(href="/dashboard/about") About
